.DS_Store
*.log
.agents/
.gemini/
/vendor/
/node_modules/
.env
.env.backup
.env.production
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public/*
/home-runner/uploads/
/home-runner/__pycache__/
*.pyc
/home-runner/xyora/
/home-runner/computask/
/home-runner/mcd/
/home-runner/home-runner.zip
home-runner.zip
/public/uploads/
